
@{
    ViewBag.Title = "SubmitAnswers";
}

<h4>Job Application</h4>
<div class="alert-success" style="padding:15px 15px">
    Your Application is submitted successfully.
    
</div>
<br />
<a href="/Jobs/DisplayJobs" class="btn btn-primary btn-sm"> Continue...</a>